* {
    margin: 0;
    padding: 0;
}

.html {
    height: -webkit-fill-available;
    
}
html{
    scroll-behavior: smooth;
}
.body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    height: -webkit-fill-available;
}

.banner {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(start.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: change 14s infinite ease-in-out;

}
.hamburger-menu {
     display: none;
    cursor: pointer;
    font-size: 2.8rem;
    color:black;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: contents;
        position: absolute;
        left: 20px;
        
    }
}
@media screen and (max-width: 768px) {
    .logo {
        position: relative; 
       
        right: 50px;
    }
}
@keyframes change {
    0% {
        background-image: url(keyframe1.jpg);
    }

    20% {
        background-image: url(keyframe6.jpg);
    }

    40% {
        background-image: url(keyframe7.avif);
    }

    60% {
        background-image: url(keyframe3.jpg);
    }

    80% {
        background-image: url(keyframe4.jpg);
    }

    100% {
        background-image: url(keyframe5.jpg);
    }
}

.navbar {
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    display: flex;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: white;
    position: absolute;
    top: 20px;
    position: fixed;
    z-index: 1;

}

.box {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-family: "inter", sans-serif;
    position: relative;
    top: 17px;
   border-radius: 5px;
   transition: all 0.2s ease-in-out;
   border: 1px #f6b300;
}
.box:hover{
    border: 0;
    box-shadow: 7px    7px  #f6b300;
}

/* a:nth-child(1) {
   
}`
nav .start-home,a:nth-child(1):hover~.animation{
 
    left: 900px;
}
a:nth-child(2) {
    width: 110px;
}
nav .start-home,a:nth-child(2):hover~.animation{
    width: 110px;

}
a:nth-child(3) {
    width: 160px;
}

a:nth-child(4) {
    width: 150px;
}

a:nth-child(5) {
    width: 150px;
} */

.logo img {
    width: 140px;
    height: 60px;
    cursor: pointer;

    /* padding-left: 200px; */
}

.navbar ul {
    /* padding-left: 200px; */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding-top: 26px;
    /* padding-left: 15px; */
}

.content {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 40%;

}

.content h1 {
    font-size: 40px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    margin-bottom: 20px;
}

.content p {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 10px;
}

.but {
    background-color: #f6b300;
    border: none;
    height: 30px;
    width: 120px;
}

.ton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 30px;
    width: 120px;
    color: #fff;
    border: 1px solid#fff;
}



.second {
    text-align: center;

}



.tat {
    display: flex;
}

.div {
    padding-left: 580px;
}

.yuv {
    background-color: rgb(228, 142, 45);
    border: none;
    height: 30px;
    color: black;
    margin-left: 925px;
}

.pad {
    width: 1276;
    height: 442;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(image/pad2.jpg);
    background-size: cover;
    background-position: center;
}

.content1 {
    width: 100px;
    height: 150px;
    margin-left: 15px;
    background-color: rgb(236, 236, 236);
}

.raja {
    width: 200px;
    height: 150px;
    margin-left: 15px;
    margin-bottom: 15px;

}

.ending {
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(image/ending.jpg);
    width: 100%;
    height: 441px;
}

.met {
    background-image: url(image/hell.png);
}

.third-image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(third.jpg);
    background-size: cover;
    background-position: center;
}

.secc {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.raj {
    width: 300px;
    height: 250px;

}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

.civil {
    height: 350px;
    width: 300px;
    background-image: url(second.webp);
    background-position: center;
    background-size: cover;

}

.rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 25%;
    margin-right: 25%; */
    gap: 50px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;

}

.one {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.head {
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-weight: 800;
}

.paraa {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: lighter;
    line-height: 1.1;

}

.styll {
    /* width: fit-content;
    height: fit-content; */
    margin-top: 20px;

}

.function {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(bull.jfif);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.button {
    text-align: center;
    margin-bottom: 250px;
    margin-top: 20px;
}

@media (min-width:0px) and (max-width:1665px) {
    .button {
        margin-bottom: 0px;


    }

}


.girl {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(pad2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    /* height: 50vh; */
    background-size: cover;
    background-position: center;
    position: relative;
}

.hard {
    display: flex;
    position: relative;
    left: 300px;
}

.prototype {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px; */

}

.rectangle {
    width: 270px;
    height: 330px;
    background-color: #F7F7F7;
    text-align: center;
}

.mark {
    margin: 20px;
}


.darna {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.rate {
    width: 360px;
    height: 270px;
}

.icons {
    width: 15px;
    height: 15px;
}

.dot {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.rare {
    font-family: "Inter", sans-serif;
    color: #fff;
    line-height: 1.5;
}

.home {
    font-family: "Inter", sans-serif;
    font-size: small;
    font-weight: lighter;

}

.homes {
    color: #7E7E7E;
}

.main-common {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.common {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 1.5;
}

.both {
    font-size: 40px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.white {

    font-size: 40px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.ender {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(Rectangle\ 14.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.love {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    gap: 50px;
    /* justify-content: space-evenly; */
    margin-top: 50px;
}

.mail {
    display: flex;
    gap: 15px;
}

.aaaec3 {
    color: #aaaec3;
    font-family: Inter, sans-serif;
}

.setting {
    position: absolute;
    top: 1%;
}

.bot {
    position: relative;
    bottom: 9px;
}

.inter {
    font-family: Inter, sans-serif;
}

.fund {
    font-size: 40px;
    font-family: "Khand", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.found {
    font-family: "krub", sans-serif;
    font-weight: bolder;
    font-size: medium;
}

.ten {
    font-size: 75px;
    font-family: Inter, sans-serif;
    color: #DDDDDD;
    font-weight: bold;
}


.string {
    margin-top: 30px;
    line-height: 1.5;
}

.var {
    margin-top: 5px;
    font-size: larger;
    font-weight: 500;
}


.circle {
    width: 50px;
    /* Adjust width and height as needed */
    height: 50px;
    background-color: #f6b300;
    border-radius: 50%;
    position: relative;
}

.red {
    text-align: center;


}

.green {
    margin-top: 10px;
}

.seven {
    width: 10px;
    height: 10px;
    background-color: #4E5755;
    border-radius: 50%;
}

.eight {
    width: 10px;
    height: 10px;
    background-color: #869791;
    border-radius: 50%;

}

.find {
    color: #7E7E7E;
}

.horizon {
    width: 70%;
    height: 1px;
    background-color: #7E7E7E;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

@media (min-width:0px) and (max-width:1668px) {
    .point {
        display: none;
    }

    .chase {
        display: none;
    }
}

@media (min-width:0px) and (max-width:1000px) {
    nav {
        display: none;
    }


}

@media (min-width:0px) and (max-width:915px) {
    .content {
        color: #fff;
        text-align: center;
        padding: 20px;
        position: relative;
        top: 30%;

    }
}

@media (min-width:0px) and (max-width:915px) {
    .setting {
        display: none;


    }
}

@media (min-width:0px) and (max-width:530px) {
    .civil div {
        display: none;


    }

}

@media (min-width:0px) and (max-width:684px) {
    .urge {
        display: none;
    }

    .black {
        margin-top: 90px;
    }
}


@media (min-width:0px) and (max-width:440px) {
    .content {
        font-size: smaller;
        line-height: 1.5;

    }

    .content h1 {
        font-size: x-large;
    }

    .but {
        background-color: #f6b300;
        border: none;
        height: 25px;
        width: 120px;
    }

    .ton {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        height: 25px;
        width: 120px;
        color: #fff;
        border: 1px solid#fff;
    }



}



button {
    background-color: #f6b300;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #f6b300;
}






/* @media only screen and (max-width: 479px) and (min-width: 0px){
    .banner{
        background-image: none !important;
        background-repeat: no-repeat;
        background-size:cover !important;
        background-position: center;
        overflow: hidden;
    } 
     .function{
        background-image: none !important;
        background-repeat: no-repeat;
        background-size:cover !important;
        background-position: center;
        overflow: hidden;

     }
} */